@font-face {
    font-family: Bartholowmew;
    src: url('../resources/fonts/TSSSFBartholomew-Bold.otf');
}
@font-face {
    font-family: Cabin;
    src: url('../resources/fonts/TSSSFCabin-Medium.ttf');
}
@font-face {
    font-family: Klinic;
    src: url('../resources/fonts/KlinicSlabBookIt.otf');
}

.hoverParent:not(:hover)>.hoverChild {
  display:none
}

.hoverParentAll:not(:hover)>*{
  display:none;
}

.card input[type=checkbox], .card input[type=radio]{
  margin:0;
  appearance:none;
  -webkit-appearance:none;
  -moz-appearance:none;
}

/* Clear After */
  .clearAfter::after {
      content:"";
      display:block;
      clear:both;
  }

/* Card Helpers */
    .cardHelper * {
      position:absolute;
      width: 688px;
      white-space: pre-wrap;
      word-wrap: break-word;
      visibility: hidden;
      min-height:1em;
    }
    .cardHelper .flavour {
        font: 28px/30px Klinic;
    }
    .cardHelper .effect {
        font: 35px/43px Cabin;
    }

/* Card Generics */
    .card {
        width: 788px;
        height: 1088px;
        background-size: contain;
        background-repeat: no-repeat;
        position:absolute;
        -webkit-transform-origin:0 0;
        -ms-transform-origin:0 0;
        transform-origin:0 0;
    }
    .card input[type=text], .card textarea{
        margin:0;
        padding:0;
        border:none;
        background:transparent;
        resize: none;
    }
    .card .nameInput, .card .name {
        position:absolute;
        bottom: 952px;
        right: 66px;
        font-family: Bartholowmew;
        text-align: right;
        font-size: 55px;
        width: 555px;
    }
    .card .name{
        pointer-events: none;
    }
    .card .name.small {
        font-size: 45px;
        line-height: 41px;
    }
    .card .nameInput:focus~.name, .card .nameInput:not(:focus){
        color:transparent!important;
    }
    .card .attrs {
        position: absolute;
        bottom: 435px;
        right: 66px;
        font-family: Cabin;
        text-align: right;
        font-size: 38px;
        color: #eadcec;
        width:580px;
    }

    /*Main Card body*/
    .card .effect, .card .flavour {
      position:absolute;
      overflow:hidden;
      white-space: pre-line;
      text-align: center;
      width:688px;
    }
    .card .effect {
        top: 673px;
        left: 50px;
        font: 35px/43px Cabin;
    }
    .card .flavour {
        bottom: 45px;
        left: 50px;
        font: 28px/30px Klinic;
    }

    /*Footer*/
    .card .copyright {
        position: absolute;
        bottom: 9px;
        right: 37px;
        width: 712px;
        font: 18px Cabin;
        text-align: right;
        color: #eadcec;
    }

/* Card Image */
    .card .imageWrap {
        position:absolute;
        left: 122px;
        top:  161px;
        width: 601px;
        height: 444px;
    }
    .card .image {
        position:absolute;
        left:122px;
        top:161px;
    }
    .card .imageWrap button {
        font-size:50px;
        position:relative;
        float:right;
        margin:15px;
        top:342px;
        display:none;
        background:rgba(255,255,255,0.6);
    }
    .card .imageWrap:hover button, .touch .card .imageWrap button{
        display:block;
    }

/* Icon Generics */
    .card .ponyIcons {
      position:absolute;
      left:58px;
      top:56px;
      height: 208px;
      display: flex;
    }

    .card .iconHolder {
      display:flex;
      flex-direction: column;
    }

    .card.ship .ponyIcons, .card.goal .ponyIcons {
      display: none;
    }

    .card .ponyIcons .icon {
      width:104px;
      height:104px;
    }

    .card .iconCard,.card .iconGoal,.card .iconTime {
        position:absolute;
        left: 58px;
        width:0;
        max-width:444px;
        padding-left:104px;
        height:0;
        min-height: 104px;
        background-size: 104px;
        background-repeat: no-repeat;
        overflow:hidden;
        pointer-events: none;
    }
    .card.pony .iconGender, .card.pony .iconRace, .card.pony .iconTime,
    .card.start .iconGender, .card.start .iconRace, .card.start .iconTime,
    .card.ship .iconCard, .card.goal .iconGoal{
        pointer-events: all;
    }

/*Card Type Icon & Buttons*/
    .card .iconCard{
        top:86px;
    }
    .card button{
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: center;
        border:none;
        cursor:pointer;
        padding:0;
    }
    .card .symbolSelect button{
        width:80px;
        height:80px;
        margin:12px;
    }
    .card .type {
        position: absolute;
        height: 190px;
        overflow: hidden;
        top: 295px;
        left: 45px;
        display: flex;
        flex-direction: column;
        min-width: 75px;
    }
    .card .type label {
        font-size: 37px;
        font-family: Bartholowmew;
        margin-left: 90px;
        width: auto;
    }
    .card .type .pony {
        color:#4b2a83;
    }
    .card .type .ship {
        color:#c3136b;
    }
    .card .type .goal {
        color:#3d2360;
    }
    .card .type .start {
        color:#3c3538;
    }
    .card input[value=""], .card input[value=R], .card input[value=G]{
        border: dashed #333;
        border-radius: 50%;
    }

/*Pony & Start Cards*/
    .card.pony {
        background-image:url('../resources/templates/BLEED-Blank-Pony-cropped.png');
    }
    .card.pony .name, .card.pony .nameInput, .card.pony .effect {
        color:#462c89
    }
    .card.pony .flavour {
        color: #190233;
    }
    /*Start Card specifics (mostly colouring)*/
        .card.start {
            background-image:url('../resources/templates/BLEED-Blank-Start-cropped.png');
        }
        .card.start .name,.card.ship .effect {
            color:#3a3235;
        }
        .card.start .flavour {
            color: #211b1d;
        }
        .card.start .attrs {
            color: #edefee;
        }
    /*Race Icon*/
        /*Regular*/
            .card.pony.unicorn .icon.race, .card.start.unicorn .icon.race, input[value=unicorn] {
                background-image:url('../resources/symbols/Symbol-Unicorn.png');
            }
            .card.pony.earthPony .icon.race, .card.start.earthPony .icon.race, input[value=earthPony] {
                background-image:url('../resources/symbols/Symbol-Earth-Pony.png');
            }
            .card.pony.pegasus .icon.race, .card.start.pegasus .icon.race, input[value=pegasus] {
                background-image:url('../resources/symbols/Symbol-Pegasus.png');
            }
            .card.pony.alicorn .icon.race, .card.start.alicorn .icon.race, input[value=alicorn] {
                background-image:url('../resources/symbols/Symbol-Alicorn.png');
            }
        /*Changelings*/
            .card.pony.unicorn.changeling .icon.race, .card.start.unicorn.changeling .icon.race {
                background-image:url('../resources/symbols/Symbol-ChangelingUnicorn.png');
            }
            .card.pony.earthPony.changeling .icon.race, .card.start.earthPony.changeling .icon.race, input[value=changeling] {
                background-image:url('../resources/symbols/Symbol-ChangelingEarthPony.png');
            }
            .card.pony.pegasus.changeling .icon.race, .card.start.pegasus.changeling .icon.race {
                background-image:url('../resources/symbols/Symbol-ChangelingPegasus.png');
            }
            .card.pony.alicorn.changeling .icon.race, .card.start.alicorn.changeling .icon.race {
                background-image:url('../resources/symbols/Symbol-ChangelingAlicorn.png');
            }
    /*Gender Icon*/
        .card.pony.female .icon.gender, .card.start.female .icon.gender, input[value=female] {
            background-image:url('../resources/symbols/Symbol-Female.png');
        }
        .card.pony.male .icon.gender, .card.start.male .icon.gender, input[value=male] {
            background-image:url('../resources/symbols/Symbol-male.png');
        }
        .card.pony.maleFemale .icon.gender, .card.start.maleFemale .icon.gender, input[value=maleFemale] {
            background-image:url('../resources/symbols/Symbol-MaleFemale.png');
        }
    /*Time Icon (Toggle)*/
        .card .iconTime {
            top: 530px;
        }
        .card.pony.time .iconTime, .card.start.time .iconTime, button[value=time]{
            background-image:url('../resources/symbols/symbol-dystopian-future.png');
        }

/*Ship Cards*/
    .card.ship {
        background-image:url('../resources/templates/BLEED-Blank-Ship-cropped.png');
    }
    .card.ship .name, .card.ship .nameInput, .card.ship .effect {
        color:#ce1b69;
    }
    .card.ship .flavour {
        color: #811935;
    }
    .card.ship .iconCard {
        background-image:url('../resources/symbols/Symbol-Ship.png');
    }

/*Goal Cards*/
    .card.goal {
        background-image:url('../resources/templates/BLEED-Blank-Goal-cropped.png');
    }
    .card.goal .name, .card.goal .nameInput, .card.goal .effect {
        color:#123962;
    }
    .card.goal .attrs {
        display:none;
    }
    .card.goal .flavour {
        color:#172640;
    }
    .card.goal .iconCard {
        background-image:url('../resources/symbols/Symbol-Goal.png');
    }
    /*Score Icons*/
        .card.goal.s0 .iconGoal {
            width:94px;
            height:115px;
            background-size:94px 115px;
            top: 550px;
            margin-left:13px;
            background-image:url('../resources/symbols/symbol-0.png');
        }
        .card.goal.s1 .iconGoal {
            width:79px;
            height:105px;
            background-size:79px 105px;
            top: 550px;
            margin-left:15px;
            background-image:url('../resources/symbols/symbol-1.png');
        }
        .card.goal.s2 .iconGoal {
            width:120px;
            height:92px;
            background-size:120px 92px;
            top: 550px;
            background-image:url('../resources/symbols/symbol-2.png');
        }
        .card.goal.s3 .iconGoal {
            width:113px;
            height:107px;
            background-size:113px 107px;
            top: 550px;
            margin-left:3px;
            background-image:url('../resources/symbols/symbol-3.png');
        }
    /* Selection Buttons */
        .card .iconGoal:not(:hover) button{
            display:none;
        }
        .card button[value=s0]{
            background-image:url('../resources/symbols/symbol-0.png');
        }
        .card button[value=s1]{
            background-image:url('../resources/symbols/symbol-1.png');
        }
        .card button[value=s2]{
            background-image:url('../resources/symbols/symbol-2.png');
        }
        .card button[value=s3]{
            background-image:url('../resources/symbols/symbol-3.png');
        }
